<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="../static/css/styleSidebar.css">
    <link rel="stylesheet" href="../static/css/styleCart.css">
    <link rel="stylesheet" th:href="@{/css/styleCart.css}">
    <link rel="stylesheet" th:href="@{/css/styleSidebar.css}">
    <link rel="stylesheet" th:href="@{/css/styleLogOut.css}">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div class="main">
    <!-- Header -->
    <div class="flex-header">
        <div class="search">
            <input type="text" id="search" placeholder="Search Here" class="p-2 border border-gray-300 rounded-lg focus:outline-none w-full lg:w-96">
            <span class="icon-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e5b322" class="bi bi-search custom-icon" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
            </span>
        </div>
        <div class="right">
            <button class="addButton" ><a href="/newSale">Nueva venta</a></button>
            <div class="notifications">
                <a href="notificaciones.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="container-filter">
        <label for="tables">Mesas:</label>
        <select id="tables">
            <option value="1">Mesa 01</option>
            <option value="2">Mesa 02</option>
            <option value="3">Mesa 03</option>
            <option value="4">Mesa 04</option>
            <option value="5">Mesa 05</option>
            <option value="6">Mesa 06</option>
        </select>
    </div>
    <div class="container-cart" id="table1">
        <div th:if="${#lists.isEmpty(table1)}">
            <h2>El carrito de la mesa 1 esta vacio</h2>
        </div>
        <div>
            <div class="container-product" th:each="product :${table1}">
                <img th:src="@{/{imageName} (imageName=${product.route})}" alt="">
                <div class="info-product">
                    <h3 class="title-product" th:text="${product.name}"></h3>
                    <span class="price-product" th:id="'subtotal'+${product.id_product}" th:if="${product.subtotal != null}" th:text="'S/'+${#numbers.formatDecimal(product.subtotal,1,2,'POINT')}"></span>
                </div>
                <div class="more">
                    <button th:data-id="${product.id_product}" onclick="decrement(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>

                    </button>
                    <span th:id="'quantity'+${product.id_product}" th:text="${product.quantity}"></span>
                    <button th:data-id="${product.id_product}" onclick="increment(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="remove">
                    <button th:data-id="${product.id_product}" onclick="removeProduct(this)">
                        Eliminar del carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-cart" id="table2">
        <div th:if="${#lists.isEmpty(table2)}">
            <h2>El carrito de la mesa 2 esta vacio</h2>
        </div>
        <div>
            <div class="container-product" th:each="product :${table2}">
                <img th:src="@{/{imageName} (imageName=${product.route})}" alt="">
                <div class="info-product">
                    <h3 class="title-product" th:text="${product.name}"></h3>
                    <span class="price-product" th:id="'subtotal'+${product.id_product}" th:if="${product.subtotal != null}" th:text="'S/'+${#numbers.formatDecimal(product.subtotal,1,2,'POINT')}"></span>
                </div>
                <div class="more">
                    <button th:data-id="${product.id_product}" onclick="decrement(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>

                    </button>
                    <span th:id="'quantity'+${product.id_product}" th:text="${product.quantity}"></span>
                    <button th:data-id="${product.id_product}" onclick="increment(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="remove">
                    <button th:data-id="${product.id_product}" onclick="removeProduct(this)">
                        Eliminar del carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-cart" id="table3">
        <div th:if="${#lists.isEmpty(table3)}">
            <h2>El carrito de la mesa 3 esta vacio</h2>
        </div>
        <div>
            <div class="container-product" th:each="product :${table3}">
                <img th:src="@{/{imageName} (imageName=${product.route})}" alt="">
                <div class="info-product">
                    <h3 class="title-product" th:text="${product.name}"></h3>
                    <span class="price-product" th:id="'subtotal'+${product.id_product}" th:if="${product.subtotal != null}" th:text="'S/'+${#numbers.formatDecimal(product.subtotal,1,2,'POINT')}"></span>
                </div>
                <div class="more">
                    <button th:data-id="${product.id_product}" onclick="decrement(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>

                    </button>
                    <span th:id="'quantity'+${product.id_product}" th:text="${product.quantity}"></span>
                    <button th:data-id="${product.id_product}" onclick="increment(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="remove">
                    <button th:data-id="${product.id_product}" onclick="removeProduct(this)">
                        Eliminar del carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-cart" id="table4">
        <div th:if="${#lists.isEmpty(table4)}">
            <h2>El carrito de la mesa 4 esta vacio</h2>
        </div>
        <div>
            <div class="container-product" th:each="product :${table4}">
                <img th:src="@{/{imageName} (imageName=${product.route})}" alt="">
                <div class="info-product">
                    <h3 class="title-product" th:text="${product.name}"></h3>
                    <span class="price-product" th:id="'subtotal'+${product.id_product}" th:if="${product.subtotal != null}" th:text="'S/'+${#numbers.formatDecimal(product.subtotal,1,2,'POINT')}"></span>
                </div>
                <div class="more">
                    <button th:data-id="${product.id_product}" onclick="decrement(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>

                    </button>
                    <span th:id="'quantity'+${product.id_product}" th:text="${product.quantity}"></span>
                    <button th:data-id="${product.id_product}" onclick="increment(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="remove">
                    <button th:data-id="${product.id_product}" onclick="removeProduct(this)">
                        Eliminar del carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-cart" id="table5">
        <div th:if="${#lists.isEmpty(table5)}">
            <h2>El carrito de la mesa 5 esta vacio</h2>
        </div>
        <div>
            <div class="container-product" th:each="product :${table5}">
                <img th:src="@{/{imageName} (imageName=${product.route})}" alt="">
                <div class="info-product">
                    <h3 class="title-product" th:text="${product.name}"></h3>
                    <span class="price-product" th:id="'subtotal'+${product.id_product}" th:if="${product.subtotal != null}" th:text="'S/'+${#numbers.formatDecimal(product.subtotal,1,2,'POINT')}"></span>
                </div>
                <div class="more">
                    <button th:data-id="${product.id_product}" onclick="decrement(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>

                    </button>
                    <span th:id="'quantity'+${product.id_product}" th:text="${product.quantity}"></span>
                    <button th:data-id="${product.id_product}" onclick="increment(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="remove">
                    <button th:data-id="${product.id_product}" onclick="removeProduct(this)">
                        Eliminar del carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-cart" id="table6">
        <div th:if="${#lists.isEmpty(table6)}">
            <h2>El carrito de la mesa 6 esta vacio</h2>
        </div>
        <div>
            <div class="container-product" th:each="product :${table6}">
                <img th:src="@{/{imageName} (imageName=${product.route})}" alt="">
                <div class="info-product">
                    <h3 class="title-product" th:text="${product.name}"></h3>
                    <span class="price-product" th:id="'subtotal'+${product.id_product}" th:if="${product.subtotal != null}" th:text="'S/'+${#numbers.formatDecimal(product.subtotal,1,2,'POINT')}"></span>
                </div>
                <div class="more">
                    <button th:data-id="${product.id_product}" onclick="decrement(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>

                    </button>
                    <span th:id="'quantity'+${product.id_product}" th:text="${product.quantity}"></span>
                    <button th:data-id="${product.id_product}" onclick="increment(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="remove">
                    <button th:data-id="${product.id_product}" onclick="removeProduct(this)">
                        Eliminar del carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-resume">
        <h2>Resumen de la compra</h2>
        <div class="resume">
            <form th:action="@{/sales/addSale}" method="POST">
                <input type="hidden" name="id_table" id="id_table" value="1">
                <div class="employee">
                    <label for="employee">Trabajador:</label>
                    <p id="employee" th:text="${employee.getName()+' '+employee.getLastname()}"></p>
                    <input type="hidden" th:value="${employee.getId_employee()}" name="id_employee">
                </div>
                <div class="pay-method">
                    <label for="pay">Metodo de pago:</label>
                    <select name="pay_method" id="pay">
                        <option value="efectivo">Efectivo</option>
                        <option value="yape">Yape</option>
                        <option value="plin">Plin</option>
                        <option value="tarjeta">Tarjeta</option>
                    </select>
                </div>
                <div class="total">
                    <span>Total:</span>
                    <span id="total" th:text="'S/'+${#numbers.formatDecimal(total,1,2,'POINT')}"></span>
                </div>
                <div class="button">
                    <div class="valid-sale">
                        <label for="valid-sale" class="warning">No contabilizar venta</label>
                        <label class="switch">
                            <input type="checkbox" id="valid-sale" name="valid-sale" value="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <button class="checkout" type="submit">Registrar Venta</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="hidden" id="LogOutModal">
    <div class="container-exit">
        <h2>Esta seguro de cerrrar sesion</h2>
        <form th:action="@{/logOut}" th:method="POST">
            <div class="container-buttons">
                <button type="button" class="cancel" onclick="closeModalExit()">No</button>
                <button type="submit" class="save">Si</button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/cartJS.js}"></script>
<script th:src="@{/js/LogOut.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>