<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trabajadores</title>
    <link rel="stylesheet" th:href="@{/css/styleSidebar.css}">
    <link rel="stylesheet" th:href="@{/css/styleEmployee.css}">
    <link rel="stylesheet" th:href="@{/css/styleLogOut.css}">
    <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styleSidebar.css">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div class="main">
    <!-- Header -->
    <div class="flex-header">
        <div class="search">
            <input type="text" placeholder="Search Here" class="p-2 border border-gray-300 rounded-lg focus:outline-none w-full lg:w-96">
            <span class="icon-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e5b322" class="bi bi-search custom-icon" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
            </span>
        </div>
        <div class="right">
            <button class="addButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                <a href="/cart/1">Ver carrito</a>
            </button>
            <div class="notifications">
                <a href="notificaciones.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="container-employees" th:if="${user.role == 'superadmin'}">
        <div class="employee" th:each="employee :${employees}">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
            </svg>
            <div>
                <p class="info-employee" th:text="${employee.name}+' '+${employee.lastname}"></p>
                <p class="info-employee" th:text="'DNI: '+${employee.dni}"></p>
            </div>
            <div class="container-button">
                <button type="button" class="delete-button" th:data-id="${employee.id_employee}" onclick="showDeleteModal(this)">Eliminar</button>
                <button type="button" th:data-id="${employee.id_employee}" th:data-name="${employee.name}" th:data-lastname="${employee.lastname}" th:data-dni="${employee.dni}" th:data-phone="${employee.phone}" class="edit-button" onclick="showEditModal(this)">Editar</button>
            </div>
        </div>
    </div>
    <div class="info" th:if="${user.role == 'user' || user.role == 'admin'}">
        <h1>Error 403</h1>
        <h2>No tiene privilegios para acceder a esta vista</h2>
        <span>Use una cuenta de SuperAdmin</span>
    </div>
</div>

<div id="modalEdit" class="hidden">
    <div class="modal-content">
        <h2 class="modal-title">Ingresar información de trabajador</h2>
        <div class="modal-image-container">
            <div class="image-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
            </div>
        </div>
        <form th:action="@{/edit-employee}" th:method="POST">
            <input type="hidden" name="id" id="id_employee">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="lastname">Apellidos:</label>
                <input type="text" id="lastname" name="lastname" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="number" id="dni" name="dni" maxlength="8" class="form-input validate" required>
            </div>
            <div class="form-group">
                <label for="phone">Telefono:</label>
                <input type="text" id="phone" name="phone" maxlength="9" class="form-input validate" required>
            </div>
            <div class="form-actions">
                <button type="button" onclick="closeEditModal()" class="cancel-button">Cancelar</button>
                <button type="submit" class="save-button">Guardar</button>
            </div>
        </form>
    </div>
</div>
<div class="hidden" id="modalDelete">
    <div class="container-modal-delete">
        <h2>Eliminar Trabajador</h2>
        <form th:action="@{/delete-employee}" th:method="POST">
            <input type="hidden" id="id" name="id_employee">
            <div class="mb-4">
                <label>Token digital: </label>
                <input type="text" name="code_entered" required>
            </div>
            <div class="container-buttons">
                <button type="button" class="cancel" onclick="closeDeleteModal()">Cancelar</button>
                <button type="submit" class="save">Eliminar</button>
            </div>
        </form>
    </div>
</div>

<div id="addEmployee" class="hidden">
    <div class="modal-content">
        <h2 class="modal-title">Agregar Trabajador</h2>
        <form action="CreateEmployee" method="POST">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="new-name" name="name" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="lastname">Apellidos:</label>
                <input type="text" id="new-lastname" name="lastname" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" id="new-dni" name="dni" class="form-input validate" maxlength="8" required>
            </div>
            <div class="form-group">
                <label for="phone">N° de telefono:</label>
                <input type="text" id="new-phone" name="phone" class="form-input validate" maxlength="9" required>
            </div>
            <div class="form-actions">
                <button type="button" class="cancel-button" onclick="closeAddModal()">Cancelar</button>
                <button type="submit" class="save-button">Guardar</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments :: LogOutModal}"></div>
<script th:src="@{/js/employeeJS.js}"></script>
<script th:src="@{/js/LogOut.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>