<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Noly</title>
    <link rel="stylesheet" th:href="@{/css/styleSidebar.css}">
    <link rel="stylesheet" th:href="@{/css/styleIndex.css}">
    <link rel="stylesheet" th:href="@{/css/styleLogOut.css}">
    <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleSidebar.css">
    <link rel="stylesheet" href="../static/css/styleIndex.css">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div class="main">
    <div class="flex-header">
        <div class="search">
            <input type="text" placeholder="Search Here" class="p-2 border border-gray-300 rounded-lg focus:outline-none w-full lg:w-96">
            <span class="icon-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e5b322" class="bi bi-search custom-icon" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
            </span>
        </div>
        <div class="right">
            <button class="addButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                <a href="/cart/1">Ver carrito</a>
            </button>
            <button class="addButton" onclick="showAddModal()" >+ Nueva venta</button>
            <div class="notifications">
                <a href="/notification">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-ingredients">
            <h2>Resumen de productos vendidos hoy dia</h2>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>Ingrediente</th>
                        <th>Unidades vendidas</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ingredient : ${ingredients}" >
                        <td th:text="${ingredient.name_ingredient}"></td>
                        <td th:text="${ingredient.stock}"></td>
                        <td th:text="'S/'+${#numbers.formatDecimal(ingredient.price,1,2,'POINT')}"></td>
                        <td th:text="'S/'+${#numbers.formatDecimal(ingredient.price*ingredient.stock,1,2,'POINT')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="info-sales">
            <div class="total-sales">
                <h3>Total de ventas del ultimo dia</h3>
                <span th:text="'S/ '+${#numbers.formatDecimal(sale,1,2,'POINT')}"></span>
            </div>
            <h3 class="title">Metodos de pago usados</h3>
            <div class="pay-methods">
                <div class="methods">
                    <div class="method">
                        <span class="color-box" style="background-color:#00ff00;"></span>
                        <label for="pay">Efectivo: </label>
                        <p id="pay" th:text="' S/'+${#numbers.formatDecimal(efectivo,1,2,'POINT')}"></p>
                    </div>
                    <div class="method">
                        <span class="color-box" style="background-color: purple;"></span>
                        <label for="yape">Yape:</label>
                        <p id="yape" th:text="' S/'+${#numbers.formatDecimal(yape,1,2,'POINT')}" ></p>
                    </div>
                    <div class="method">
                        <span class="color-box" style="background-color: deepskyblue;"></span>
                        <label for="plin">Plin:</label>
                        <p id="plin" th:text="' S/'+${#numbers.formatDecimal(plin,1,2,'POINT')}"></p>
                    </div>
                    <div class="method">
                        <span class="color-box" style="background-color: red;"></span>
                        <label for="credit">Tarjeta:</label>
                        <p id="credit" th:text="' S/'+${#numbers.formatDecimal(tarjeta,1,2,'POINT')}"></p>
                    </div>
                </div>

                <div class="sales-pay-methods" id="pieChart"></div>
            </div>
        </div>
    </div>

</div>
<div th:replace="~{fragments :: LogOutModal}"></div>
<script src="../static/js/indexJS.js"></script>
<script th:src="@{/js/indexJS.js}"></script>
<script th:src="@{/js/LogOut.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>