<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesion</title>
    <link rel="Stylesheet" type="text/css" href="../static/css/StyleLogin.css">
    <link rel="Stylesheet" type="text/css" href="../static/css/StyleLoader.css">
    <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section>
    <div class="separador">
        <div class ="left" >
        </div>
        <div class ="right">
            <div class ="login">
                <div>
                    <div>
                        <img th:src="@{/img/img_sinfondo.png}" class="logo" alt="logo">
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div class="user">
                            <label for="user">Usuario:</label>
                            <input type="text" placeholder="Escriba el usuario" name="username" id="user" maxlength="20" required>
                            <br/>
                        </div>
                        <div class="password">
                            <label for="password">Contraseña:</label>
                            <input type="password" placeholder="Escriba la contraseña" name="password" id="password" required>
                            <br/>
                        </div>
                        <div>
                            <input type ="submit" value ="Inciar Sesion" class="button" name = "button">
                        </div>
                        <div th:if="${param.error}" style="color: red">
                            <p>Usuario o contraseña incorrectos</p>
                        </div>
                        <div>
                            <a target ="_self" href ="/recoverPassword" class="recoverPass">Olvido su contraseña</a>
                            <a target ="_self" href ="/add-user" class="register">Registrarse</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hidden"></div>
</body>
</html>
