<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nueva venta</title>
    <link rel="stylesheet" th:href="@{/css/styleMenu.css}">
    <link rel="stylesheet" th:href="@{/css/styleSidebar.css}">
    <link rel="stylesheet" th:href="@{/css/styleLogOut.css}">
    <link rel="stylesheet" th:href="@{/css/styleNewSale.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon">


</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div class="main">
    <!-- Header -->
    <div class="flex-header">
        <div class="search">
            <input type="text" placeholder="Search Here" class="p-2 border border-gray-300 rounded-lg focus:outline-none w-full lg:w-96" id="search">
            <span class="icon-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e5b322" class="bi bi-search custom-icon" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
            </span>
        </div>
        <div class="right">
            <button class="addButton" id ="toCartButton" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                Ver carrito
            </button>
            <div class="notifications">
                <a href="notificaciones.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="category">
        <button th:data-category="${'todos'}" id="" class="" onclick="showCategory(this)">Todos</button>
        <button th:each="category:${categories}" th:id="${category.name_category}+'-btn'" class="" th:data-category="${category.name_category}" onclick="showCategory(this)" th:text="${category.name_category}">Todos</button>
    </div>
    <div id="todos" class="container-product">
        <!-- Product Item -->
        <div class="product" th:each="menu_item: ${menuList}">
            <img th:src="@{/{imageName} (imageName=${menu_item.route_image})}" class="img-custom" alt="img-producto">
            <h3 class="title-product" th:text="${menu_item.name_item}"></h3>
            <p class="price-product" th:text="'Precio: S/ ' +${#numbers.formatDecimal(menu_item.price,1,2,'POINT')}">S/</p>
            <div>
                <button class="add" th:data-id="${menu_item.id_menu}"  onclick="add(this)">Agregar al carrito</button>
            </div>
        </div>
    </div>
    <div th:each="category : ${categories}" th:id="${category.name_category}" class="hidden" >
        <!-- Product Item -->
        <div class="product" th:each="menu_item: ${menuList}" th:if="${menu_item.category.name_category} == ${category.name_category}">
            <img th:src="@{/{imageName} (imageName=${menu_item.route_image})}" class="img-custom" alt="img-product">
            <h3 class="title-product" th:text="${menu_item.name_item}"></h3>
            <p class="price-product" th:text="'Precio: S/ ' +${#numbers.formatDecimal(menu_item.price,1,2,'POINT')}">S/</p>
            <div>
                <button class="add" th:data-id="${menu_item.id_menu}"  onclick="add(this)">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>
<div id="toast-container"></div>

<div th:replace="~{fragments :: LogOutModal}"></div>
<script th:src="@{/js/cartJS.js}"></script>
<script th:src="@{/js/LogOut.js}"></script>
<script th:src="@{/js/search.js}"></script>
<script th:src="@{/js/newSale.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>