<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperar clave</title>
    <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon">
    <link rel="Stylesheet" type="text/css" href="../static/css/styleRecover.css">
    <link rel="stylesheet" th:href="@{/css/styleRecover.css}">
</head>
<body>
<div class="divisor">
    <div class ="left">
    </div>
    <div class="right">
        <div>
            <div class="container-img">
                <img th:src="@{/img/img_sinfondo.png}" class="logo" alt="logo">
            </div>
            <div class ="form">
                <div>
                    <form th:action="@{/recoverPassword}" th:method="POST">
                        <div class="data">
                            <label for ="username">Usuario:</label>
                            <input type="text" placeholder="Escribe el usuario" name="username" id="username">
                            <br/>
                        </div>
                        <div class="data">
                            <label for="password">Nueva Contraseña:</label>
                            <input type="password" placeholder="Escriba la contraseña" name="password" id="password">
                            <br/>
                        </div>
                        <div class ="data">
                            <label for ="code">Clave dinamica:</label>
                            <input type ="text" placeholder="Escriba la clave dinamica" name="code" id="code">
                        </div>
                        <button type="submit" class="button">Cambiar contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>