<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" href="../static/css/styleSale.css">
    <link rel="stylesheet" th:href="@{/css/styleSale.css}">
    <link rel="stylesheet" th:href="@{/css/styleSidebar.css}">
    <link rel="stylesheet" th:href="@{/css/styleLogOut.css}">
    <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div class="main">
    <!-- Header -->
    <div class="flex-header">
        <div class="search">
            <input type="text" placeholder="Search Here" class="p-2 border border-gray-300 rounded-lg focus:outline-none w-full lg:w-96">
            <span class="icon-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e5b322" class="bi bi-search custom-icon" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
            </span>
        </div>
        <div class="right">
            <button class="addButton" onclick="showAddModal()" >
                <a href="/newSale">Agregar venta</a>
            </button>
            <div class="notifications">
                <a href="notificaciones.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <!-- Table of sales -->
    <div class="table-sales">
        <h2 >Ventas Realizadas</h2>
        <div class="filters" >
            <div>
                <label for="pay-method">Tipo de pago:</label>
                <select id="pay-method">
                    <option value="todos">Todos</option>
                    <option value="efectivo">Efectivo</option>
                    <option value="yape">Yape</option>
                    <option value="plin">Plin</option>
                    <option value="tarjeta">Tarjeta</option>
                </select>
            </div>
            <div>
                <label for="employee">Empleado:</label>
                <select id="employee">
                    <option value="0">Todos</option>
                    <option th:each="employee :${employees}" th:value="${employee.id_employee}" th:text="${employee.name}"></option>
                </select>
            </div>
            <div>
                <label for="date">Fecha de la venta: </label>
                <input type="date" id="date" name="date">
            </div>
            <div>
                <label for="months">Meses:</label>
                <select id="months">
                    <option value="0"></option>
                    <option value="1">Este mes</option>
                    <option value="2">Mes pasado</option>
                    <option value="3">Ultimos 3 meses</option>
                    <option value="4">Ultimos 6 meses</option>
                    <option value="5">Este año</option>
                </select>
            </div>
            <div>
                <label for="sum">Total: </label>
                <p id="sum"></p>
            </div>

        </div>
        <table>
            <thead>
                <tr>
                    <th>Venta</th>
                    <th>Fecha de la venta</th>
                    <th>Metodo de pago</th>
                    <th>Trabajador</th>
                    <th>Total</th>
                    <th th:if="${user.role == 'admin' || user.role == 'superadmin'}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sale : ${sales}">
                    <td th:text=" 'Venta 00'+${sale.id_sale}"></td>
                    <td th:text="${#temporals.format(sale.date_sale,'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td>
                        <span th:each="pm, iterStat : ${sale.salePaymentMethodList}">
                          <span th:text="${pm.paymentMethod.name}"></span><span th:if="${!iterStat.last}">, </span>
                        </span>
                    </td>
                    <td th:text="${sale.employee.name}"></td>
                    <td th:text="'S/ '+${#numbers.formatDecimal(sale.total,1,2,'POINT')}"></td>
                    <td th:if="${user.role == 'admin' || user.role == 'superadmin'}">
                        <div>
                            <a th:href="'sale-detail?id_sale='+${sale.id_sale}">Ver mas</a>
                            <button sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_ADMIN')" th:data-id="${sale.id_sale}" onclick="showDeleteModal(this)">Eliminar</button>
                        </div>

                    </td>
                    <td class="hidden" th:text="${sale.employee.id_employee}"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a th:each="i : ${#numbers.sequence(1,totalPages)}" th:text="${i}" th:href="@{/sales(page=${i - 1}, size = 100)}" th:class="${(i - 1) == currentPage} ? 'active' : ''"></a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>
<div class="hidden" sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_ADMIN')" id="deleteModal">
    <div class="container-modal-delete">
        <h2>Eliminar venta</h2>
        <form th:action="@{/sales/delete-sale}" th:method="POST">
            <input type="hidden" id="id" name="id_sale">
            <div class="mb-4">
                <label>Token digital: </label>
                <input type="text" name="code_entered" required>

            </div>
            <div class="container-buttons">
                <button type="button" class="cancel" onclick="closeDeleteModal()">Cancelar</button>
                <button type="submit" class="save">Eliminar</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments :: LogOutModal}"></div>
<script th:src="@{/js/saleJS.js}"></script>
<script th:src="@{/js/LogOut.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script>
    const worker = new SharedWorker('/js/webSocketNotification.js');
    worker.port.onmessage = (event) => {
        console.log("🔔 Notificación recibida en vista:", event.data);
        showNotification(event.data);
    };
    worker.port.start();
</script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const paginationLinks = document.querySelectorAll('.pagination a:not(:first-child):not(:last-child)');
        const maxVisible = 10;
        paginationLinks.forEach((link, idx) => {
            if (idx >= maxVisible) {
                link.style.display = 'none';
            }
        });
    });
</script>
<script>
    console.log("Iniciando worker de notificaciones...");
    const worker = new SharedWorker('/js/webSocketNotification.js');
    worker.port.onmessage = (event) => {
        console.log("🔔 Notificación recibida en vista:", event.data);
        showNotification(event.data);
    };
    worker.port.start();
    console.log("Worker de notificaciones iniciado.");
    worker.port.postMessage("start");
</script>
</body>
</html>